loguru<=0.7.2
wandb>=0.12.9,<=0.13.4
matplotlib<=3.8.3
seaborn~=0.13.2
tabulate>=0.8.7,<=0.8.10
importlib-metadata==4.13.0
dask[distributed]
numpy>=1.21
pandas<=2.2.1
PyYAML<=6.0.1
git+https://github.com/Cognitive-AI-Systems/pogema.git@632437df72a51af14feb63711ce52523e561f6c3#egg=pogema